@charset "utf-8";
html,BODY
{
	font-family:Arial, Helvetica, sans-serif;
	FONT-SIZE: 12px;
	text-decoration: none;
	background:#ffffff;
	SCROLLBAR-FACE-COLOR: #65A8E5; 
	SCROLLBAR-HIGHLIGHT-COLOR: #65A8E5; 
	SCROLLBAR-SHADOW-COLOR: #BDD6EE;
	SCROLLBAR-3DLIGHT-COLOR: #ffffff; 
	SCROLLBAR-ARROW-COLOR: #ffffff; 
	SCROLLBAR-TRACK-COLOR:#BDD6EE; 
	SCROLLBAR-DARKSHADOW-COLOR: #65A8E5;
	margin:1px 2px 0px 2px;
}

TD
{
	FONT-SIZE: 12px;
}

textarea
{ 	font-size:12px;}

Input
{
	font-size:12px;
	BORDER: #aacbe1 1px solid; 
}

Button
{
	FONT-SIZE: 12px;
	background-color:#3333CC;
	height:20px; 
}
select
{ 
	font-size:12px;
}

A 
{
	TEXT-DECORATION: none;
	color: #000000;
}
A:hover
{
	COLOR: #195288;
	text-decoration: underline;
}
.title
{
	background:url(../Images/topBar_bg.gif);
	font-weight:bold;
	height:18px;
}
.border
{
	border: 1px solid #2F78C8;
}
.tdbg
{
	background:#E5EBF1;
}
.tdbgc
{
	background:#E0EEF5;
}
.tdbgo
{
	background:#BFDFFF;
}

.tdbg2
{
	background:#E0EEF5;
}
.tdbg3
{	 height:20px;
	background:#D3E7F8;
	line-height:20px;
}
.topbg
{
	background:#2F78C8;
	color: #FFFFFF;
	font-weight:bold;
	height:18px; 
}
.bgcolor {
	background-color: #E1F4EE;
}
.fontcolor{
color:#FF0000;
}
form{ margin:0px; padding:0px;}
.tuijian{color:blue;}
.hot{ color:red;}
.passyes{ color:#999999;}
.passno{ color:green;}