<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>站长图库</title>
</head>
<body>
<div align="center">
<SCRIPT>var imgPre="http://www.chinaz.com";var meetsReqs=true;var indefli=false;var serviceid=0;var rpsub=false;var pcontr=false;
</SCRIPT>
<script type="text/javascript" src="js/msnent5420.js"></script>
<DIV id=flashControl_flashContent></DIV>
<script type=text/javascript>
   fc = new msn.flashControl('flash/ImageFlipper.swf','flashControl_flashControl','655','270','6','white');
   fc.addParam('quality','high');
   fc.addParam('wmode','transparent');
   fc.addParam('menu','false');
   fc.addParam('loop','false');
   fc.addParam('allowscriptaccess','always');
   fc.addVariable('trailer','0');
   fc.addVariable('flipText2Clr','0');
   fc.addVariable('winTarget','0');
   fc.addVariable('isFrozen','1');
   fc.addVariable('interval','5');
   fc.addVariable('adFeedback','0');
   fc.addVariable('imgURL','images/001-s.jpg;images/002-s.jpg;images/003-s.jpg;images/004-s.jpg;images/005-s.jpg;');
   fc.addVariable('img2URL','images/001-b.jpg;images/002-b.jpg;images/003-b.jpg;images/004-b.jpg;images/005-b.jpg;');
   fc.addVariable('credits','Warner+Bros.+Pictures+;Paramount+Pictures;Lionsgate;MSN+Entertainment;Warner+Bros.+Pictures+');
   fc.addVariable('flipText1',"Welcome+Back%2c+Potter;Hollywood+Hitlist;The+Right+Snuff%3f;Dish+Diva;Trailer+Launch");
   fc.addVariable('flipText2',"Two+rave+reviews%2c+plus+Potter+101%2c+galleries%2c+interviews+and+more!;Pfeiffer+returns+to+film+with+'Hairspray'+and+'Stardust'%2c+plus%2c+meet+teen+star+Efron;From+'Saw'+to+'Captivity%2c'+we+dissect+the+'torture+porn'+genre;We+sit+down+with+the+cast+of+'Harry+Potter+and+the+Order+of+the+Phoenix';Paul+Haggis+follows+up+'Crash'+with+the+political+'In+the+Valley+of+Elah'");
   fc.addVariable('flipText3',"Welcome+Back%2c+Potter;Hollywood+Hitlist;The+Right+Snuff%3f;Dish+Diva;Trailer+Launch");
   fc.addVariable('flipText4',";;;;");
   fc.addVariable('flipLink',"http://www.zztuku.com/;http://www.zztuku.com/;http://www.zztuku.com/;http://www.zztuku.com/;http://www.zztuku.com/;");
   fc.write('flashControl_flashContent');
</script>


<div style="text-align:center;clear:both"><script src='http://www.zztuku.com/plus/ad_js.php?aid=35' language='javascript'></script>
<br />
代码整理：<a href="http://www.zztuku.com" target="_blank">站长图库</a>
</div>

</div>
</body>
</html>
