<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>jquery仿酷狗官网新闻焦点图插件 - 站长图库</title>
<link rel="stylesheet" type="text/css" href="css/styles.css" />
<script type="text/javascript" src="jquery.min.js"></script>
<script type="text/javascript" src="jquery.focus.js"></script>
<script type="text/javascript">
$(document).ready(function(){
$("#j_Focus").Focus();
});
</script>
</head>
<body id="introduction">
<div id="page">
	<div id="container" class="content clearfix">
		<div class="focusWrap">
			<div class="focusCon" id="j_Focus">
			<div class="focusL">
				<ul class="ulFocus" id="j_FocusNav">
					<li rel="0">
						<span>酷狗7正式版发布<br/>音乐魔力全线绽放</span>
					</li>

					<li rel="1">
						<span>海量免费高清MV<br/>更清晰更流畅</span>
					</li>
					<li rel="2">
						<span>酷狗7:音乐魔方<br/>带给你全新播放体验</span>
					</li>
					<li rel="3">

						<span>个性化歌曲推荐<br/>酷狗猜你喜欢</span>
					</li>
					<li rel="4">
						<span>酷狗收音机<br/>重新认识电台魅力</span>
					</li>
					<li rel="5">
						<span>手机酷狗3.0<br/>无线音乐新序章</span>

					</li>
				</ul>
				<div class="back" id="j_FocusBack"></div>
			</div>
			<div class="focusM">
				<ul class="ulFCon" id="j_FocusCon">
					<li>
						<a href="http://www.zztuku.com" target="_blank">
							<img src="images/1.jpg" alt="酷狗7正式版发布" />

						</a>
					</li>
					<li>
						<a href="http://www.zztuku.com" target="_blank">
							<img src="images/2.jpg" alt="海量免费高清MV" />
						</a>
					</li>
					<li>
						<a href="http://www.zztuku.com" target="_blank">
							<img src="images/3.jpg" alt="酷狗7:音乐魔方" />
						</a>
					</li>
					<li>
						<a href="http://www.zztuku.com" target="_blank">
							<img src="images/4.jpg" alt="个性化歌曲推荐" />
						</a>
					</li>
					<li>

						<a href="http://www.zztuku.com" target="_blank">
							<img src="images/5.jpg" alt="酷狗收音机" />
						</a>
					</li>
					<li>
						<a href="http://www.zztuku.com" target="_blank">
							<img src="images/6.jpg" alt="手机酷狗3.0" />
						</a>
					</li>

				</ul>
			</div>
			</div>
			<div class="focusR">
				<div class="kugoo">
					<a title="马上下载酷狗7" href="http://www.zztuku.com" target="_blank">马上下载酷狗7</a>
				</div>
				<ul class="ulHot">

	 				<li><a href="http://www.zztuku.com" target="_blank">酷狗音乐2011</a></li>
	 				<li><a href="http://www.zztuku.com" target="_blank">手机酷狗3.0版</a></li>
	 				<li><a href="http://www.zztuku.com" target="_blank">酷狗网络收音机</a></li>
					<li><a href="http://www.zztuku.com/" target="_blank">酷狗叮咚</a></li>
				</ul>
			</div>
		</div>
  </div>
 </div>
</div>
<p align="center">适用浏览器：IE8、360、FireFox、Chrome、Safari、Opera、傲游、搜狗、世界之窗. </p>
<div style="text-align:center;clear:both"><script src='http://www.zztuku.com/plus/ad_js.php?aid=35' language='javascript'></script>
<script src='http://www.zztuku.com/plus/ad_js.php?aid=42' language='javascript'></script>
<br />
<br />
代码整理：<a href="http://www.zztuku.com" target="_blank">站长图库</a> <script src="http://s6.cnzz.com/stat.php?id=2551789&web_id=2551789" language="JavaScript"></script>
</div>
</body>
</html>
