<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>李华清 -包装与品牌设计</title>
<meta name="description" content="品牌形象、策略设计、设计顾问与咨询。华清设计是资深的形象识别与策略设计公司，我们的服务内容涵盖标志设计、VI设计、产品与包装设计、画册推广与出版设计、环境与导示设计、网络与新媒体设计等品牌传播的所有层面。我们始终站在最终顾客的角度，依照客户的品牌战略，创造出准确的、极具商业价值的品牌体验。">
<meta name="keywords" content="品牌命名，产品命名，商标起名，产品起名，营销策划，品牌营销策划，吉祥物设计，标志设计，LOGO设计，商标设计，石家庄标志设计公司，LOGO设计公司，北京标志设计公司，知名标志设计公司，插画设计，北京LOGO设计公司，北京品牌设计公司，北京知名设计公司，北京知名包装设计公司，石家庄专业设计公司，北京专业设计公司，石家庄设计公司，石家庄最好的设计公司">
<meta http-equiv="X-UA-compatible" content="IE=EmulateIE8">
<link href="css/reset.css" rel="stylesheet" media="screen" type="text/css">
<link href="css/css.css" rel="stylesheet" media="screen" type="text/css">
<link href="css/index.css" rel="stylesheet" media="screen" type="text/css">
<script src="js/b.js" charset="utf-8"></script>
<script src="js/lxb.js" charset="utf-8"></script>
<script src="images/v.htm" charset="utf-8"></script>
<script type="text/javascript" src="js/jquery-1.js"></script>
    
  <script type="text/javascript" src="js/slides.js"></script>
  <script type="text/javascript" src="js/body_jquery.js"></script>
  <script type="text/javascript" src="js/txtSlider.js"></script> 


    <script type="text/javascript" src="js/jquery-ui-1.js"></script>
    <script type="text/javascript" src="js/jquery_002.js"></script>
    <script type="text/javascript" src="js/jquery_007.js"></script>
    <script type="text/javascript" src="js/jquery_009.js"></script>


<script src="js/b5m.js" charset="utf-8" id="b5mmain" type="text/javascript"></script>
<link charset="utf-8" type="text/css" href="css/1001.css" rel="stylesheet">
<script src="js/bw.js" charset="UTF-8" type="text/javascript"></script>
<link href="css/m-front-icon.css" type="text/css" rel="stylesheet">
<script charset="UTF-8" src="js/Enter.js" id="BDBridgeSendData" language="javascript" type="text/javascript"></script>
<link href="css/m-front-mess.css" type="text/css" rel="stylesheet">
<link href="css/m-front-invite.css" type="text/css" rel="stylesheet">
<style>@import "http://qiao.baidu.com/v3/asset/css/m-webim-lite.css?v=20150613";</style>
<script charset="UTF-8" src="js/Refresh.js" id="BDBridgeReport" language="javascript" type="text/javascript"></script></head>
<body class="zuopin zuopina">
<script type="text/javascript" src="js/jquery_003.js"></script>
<script type="text/javascript" src="js/jquery_0002.js"></script>
<script type="text/javascript" src="js/jquery.js"></script>
<script>
$(function () {
	var navLi=$(".top2 .nav li.mainlevel");
        navLi.hover(function (e) {
            $(this).find('.box').stop().slideDown();
        }, function () {
            $(this).find('.box').stop().slideUp();
        }, 250);

})
</script>
<div style="height: 117px;" class="sticky-wrapper">
<div class="header stuck">
<div class="top1">
<div class="w1000">
<div class="fl"><a href="http://www.logo607.com/lianluo/lxdz/">北京</a><a href="http://www.logo607.com/lianluo/lxdz/">新加坡</a><a href="http://www.logo607.com/lianluo/lxdz/">石家庄</a></div>
<div class="fr"><img src="images/tels.jpg" align="absmiddle"><a href="#">中文</a><span>/</span><a href="#">EN</a></div>
</div>
</div>
<div class="tophead">
<div class="w1000">
<div class="fl"><a href="http://www.logo607.com/"><img src="images/logo.jpg" border="0"></a></div>
<div class="fl" style="width:330px">
<div class="slidertxt">
              <ul style="margin-top: 0px;">
 





            <li><a href="http://www.logo607.com/xinwendongtai/zuixindongtai/197.html" target="_blank">李华清国际设计荣获中国品牌设计50强企业</a></li><li><a href="http://www.logo607.com/xinwendongtai/zuixindongtai/202.html" target="_blank">法国伙伴共进晚餐</a></li><li><a href="http://www.logo607.com/xinwendongtai/zuixindongtai/241.html" target="_blank">西班牙Dear Design到访李华清国际设计公司</a></li><li><a href="http://www.logo607.com/xinwendongtai/zuixindongtai/200.html" target="_blank">总裁李华清应邀参加跨国企业圆桌会议</a></li><li><a href="http://www.logo607.com/xinwendongtai/zuixindongtai/199.html" target="_blank">法国伙伴再次到访华清国际</a></li></ul>
            </div>
<div class="ggy"><img src="images/ggy.jpg" border="0"></div>
</div>
<div class="top2">
<ul class="nav">
<li id="art0" class="mainlevel22"><a href="http://www.logo607.com/" id="arcle0"></a></li>
<li id="art5" class="mainlevel"><a href="http://www.logo607.com/guanyuhuaqing/liaojiehuaqing/" id="arcle5"></a>
<div class="box">
<div class="gNav_sub_menu_bg" style="padding-left:531px;_padding-left:131px">

<a href="http://www.logo607.com/guanyuhuaqing/liaojiehuaqing/">了解华清</a>

<a href="http://www.logo607.com/guanyuhuaqing/huaqingjingshen/">华清精神</a>

<a href="http://www.logo607.com/guanyuhuaqing/rongyujiangxiang/">荣誉奖项</a>

<a href="http://www.logo607.com/guanyuhuaqing/shejiguwen/">设计顾问</a>

<a href="http://www.logo607.com/guanyuhuaqing/huaqingwenhua/">华清文化</a>

<a href="http://www.logo607.com/guanyuhuaqing/shehuizeren/">社会责任</a>

</div></div>
</li>
<li id="art14" class="hover"><a href="http://www.logo607.com/fuwuxiangmu/pinpai_celue/" id="arcle14"></a>
<div class="box">
<div class="gNav_sub_menu_bg" style="padding-left:669px;_padding-left:265px">

<a href="http://www.logo607.com/fuwuxiangmu/pinpai_celue/">品牌+策略</a>

<a href="http://www.logo607.com/fuwuxiangmu/chanpin_baozhuang/">产品+包装</a>

<a href="http://www.logo607.com/fuwuxiangmu/kongjian_daoshi/">空间+导视</a>

<a href="http://www.logo607.com/fuwuxiangmu/guanggao_chuanbo/">广告+传播</a>

</div></div>
</li>
<li id="art11" class="mainlevel"><a href="http://www.logo607.com/xinwendongtai/zuixindongtai/" id="arcle11"></a>
<div style="overflow: hidden; height: 39px; display: none; margin-top: 0px; margin-bottom: 0px; padding-top: 0px; padding-bottom: 0px;" class="box">
<div class="gNav_sub_menu_bg" style="padding-left:780px;_padding-left:375px">

<a href="http://www.logo607.com/xinwendongtai/zuixindongtai/">最新动态</a>

<a href="http://www.logo607.com/xinwendongtai/xingyedongtai/">行业动态</a>

<a href="http://www.logo607.com/xinwendongtai/huaqingguandian/">华清观点</a>

</div></div>
</li>
<li id="art18" class="mainlevel"><a href="http://www.logo607.com/lianluo/lxdz/" id="arcle18"></a>
<div class="box">
<div class="gNav_sub_menu_bg" style="padding-left:766px;_padding-left:361px">

<a href="http://www.logo607.com/lianluo/lxdz/">联系地址</a>

<a href="http://www.logo607.com/lianluo/jiaruwomen/">加入我们</a>

<a href="http://www.logo607.com/lianluo/geiwomenliuyan/">给我们留言</a>

</div></div>
</li>
</ul>
</div>
</div>
</div>
</div>
</div>
<script type="text/javascript">
document.getElementById("art14").className="hover";
</script>
<div class="tboxnew">
<div class="w1000">
<ul>
<li><a href="http://www.logo607.com/fuwuxiangmu/pinpai_celue/" class="thisclass">品牌+策略</a></li>
<li><a href="http://www.logo607.com/fuwuxiangmu/chanpin_baozhuang/">产品+包装</a></li>

<li><a href="http://www.logo607.com/fuwuxiangmu/kongjian_daoshi/">空间+导视</a></li>

<li><a href="http://www.logo607.com/fuwuxiangmu/guanggao_chuanbo/">广告+传播</a></li>

</ul></div></div>
<div class="page bghui" style="padding-top:20px">
    <div id="content">
	<div class="frame_col">
    <div class="life_wrap clearfix">
        <div style="position: relative; height: 7023px; width: 1000px;" id="life" class="transitions-enabled infinite-scroll clearfix masonry">
<div style="position: absolute; top: 0px; left: 0px;" class="item col1 masonry-brick">
<div class="item_inner">
<div class="figure"><a href="http://www.logo607.com/fuwuxiangmu/pinpai_celue/1.html" target="_blank"><img src="images/1-140919205213560.jpg" class="item_img"></a>
<div class="figcaption"><h3><a href="http://www.logo607.com/fuwuxiangmu/pinpai_celue/1.html" target="_blank"><span>命名/标志/VI/包装/广告语&nbsp;&nbsp;&nbsp;&nbsp;</span>至及</a></h3><div class="intro">土家牧业位于北纬30℃生态产地，高海拔，土质富硒，气候独特，资源丰富，真正的原生态…</div></div>
</div></div></div><div style="position: absolute; top: 0px; left: 340px;" class="item col1 masonry-brick">
<div class="item_inner">
<div class="figure"><a href="http://www.logo607.com/fuwuxiangmu/pinpai_celue/257.html" target="_blank"><img src="images/1-141031195502516.jpg" class="item_img"></a>
<div class="figcaption"><h3><a href="http://www.logo607.com/fuwuxiangmu/pinpai_celue/257.html" target="_blank"><span>标志/VI/环境&nbsp;&nbsp;&nbsp;&nbsp;</span>果米捞</a></h3><div class="intro">休闲，时尚，健康，快乐，新鲜，用心是我们给品牌形象的定位。 标志灵感来源于餐桌上…</div></div>
</div></div></div><div style="position: absolute; top: 0px; left: 680px;" class="item col1 masonry-brick">
<div class="item_inner">
<div class="figure"><a href="http://www.logo607.com/fuwuxiangmu/pinpai_celue/242.html" target="_blank"><img style="opacity: 1;" src="images/1-1409261U0080-L.jpg" class="item_img"></a>
<div style="bottom: -60px;" class="figcaption"><h3><a href="http://www.logo607.com/fuwuxiangmu/pinpai_celue/242.html" target="_blank"><span>标志/VI/广告语&nbsp;&nbsp;&nbsp;&nbsp;</span>悦百汇</a></h3><div class="intro">荷花，出淤泥而不染，圣洁、清新，传递出商场如出水芙蓉般清丽脱俗，脱颖而出。荷，是…</div></div>
</div></div></div><div style="position: absolute; top: 378px; left: 340px;" class="item col1 masonry-brick">
<div class="item_inner">
<div class="figure"><a href="http://www.logo607.com/fuwuxiangmu/pinpai_celue/243.html" target="_blank"><img src="images/1-1409261Z2510-L.jpg" class="item_img"></a>
<div class="figcaption"><h3><a href="http://www.logo607.com/fuwuxiangmu/pinpai_celue/243.html" target="_blank"><span>标志设计/VI设计&nbsp;&nbsp;&nbsp;&nbsp;</span>蕾莎·汇生活</a></h3><div class="intro">标志通过对品牌英文字母的重组，形成个性、丰富的视觉构成感，传递出时尚、休闲、国际…</div></div>
</div></div></div><div style="position: absolute; top: 414px; left: 0px;" class="item col1 masonry-brick">
<div class="item_inner">
<div class="figure"><a href="http://www.logo607.com/fuwuxiangmu/pinpai_celue/46.html" target="_blank"><img src="images/1-140919205U50-L.jpg" class="item_img"></a>
<div class="figcaption"><h3><a href="http://www.logo607.com/fuwuxiangmu/pinpai_celue/46.html" target="_blank"><span>标志/VI/包装/环境&nbsp;&nbsp;&nbsp;&nbsp;</span>巴山农夫</a></h3><div class="intro">湖北土家牧业有限公司，是一家集畜禽养殖、加工、销售于一体的综合性企业。公司位于北…</div></div>
</div></div></div><div style="position: absolute; top: 420px; left: 680px;" class="item col1 masonry-brick">
<div class="item_inner">
<div class="figure"><a href="http://www.logo607.com/fuwuxiangmu/pinpai_celue/11.html" target="_blank"><img src="images/1-140919204Z91J.jpg" class="item_img"></a>
<div class="figcaption"><h3><a href="http://www.logo607.com/fuwuxiangmu/pinpai_celue/11.html" target="_blank"><span>标志/VI/包装/广告语&nbsp;&nbsp;&nbsp;&nbsp;</span>土家山</a></h3><div class="intro">土家山是土家牧业旗下专门加工、销售有机肉食的企业，拥有优质的原产地、一流完善的生…</div></div>
</div></div></div><div style="position: absolute; top: 718px; left: 340px;" class="item col1 masonry-brick">
<div class="item_inner">
<div class="figure"><a href="http://www.logo607.com/fuwuxiangmu/pinpai_celue/43.html" target="_blank"><img src="images/1-1409192055370-L.jpg" class="item_img"></a>
<div class="figcaption"><h3><a href="http://www.logo607.com/fuwuxiangmu/pinpai_celue/43.html" target="_blank"><span>标志设计/VI设计&nbsp;&nbsp;&nbsp;&nbsp;</span>荆楚香特莉</a></h3><div class="intro">湖北香特莉食品有限公司位于长江中游南岸，1998年，松滋市第一家香特莉西饼屋在堰西路…</div></div>
</div></div></div><div style="position: absolute; top: 760px; left: 680px;" class="item col1 masonry-brick">
<div class="item_inner">
<div class="figure"><a href="http://www.logo607.com/fuwuxiangmu/pinpai_celue/44.html" target="_blank"><img src="images/1-14092G513403M.jpg" class="item_img"></a>
<div class="figcaption"><h3><a href="http://www.logo607.com/fuwuxiangmu/pinpai_celue/44.html" target="_blank"><span>标志设计/VI设计&nbsp;&nbsp;&nbsp;&nbsp;</span>奇朴奇朴果蔬脆片</a></h3><div class="intro">河北天祺尚嘉农产品开发有限公司是以农产品深加工为主的现代化企业，顺应农产品产业化…</div></div>
</div></div></div><div style="position: absolute; top: 906px; left: 0px;" class="item col1 masonry-brick">
<div class="item_inner">
<div class="figure"><a href="http://www.logo607.com/fuwuxiangmu/pinpai_celue/253.html" target="_blank"><img src="images/1-14092H03I9216.jpg" class="item_img"></a>
<div class="figcaption"><h3><a href="http://www.logo607.com/fuwuxiangmu/pinpai_celue/253.html" target="_blank"><span>标志/VI/包装&nbsp;&nbsp;&nbsp;&nbsp;</span>东方慧医</a></h3><div class="intro">标志图形来源于阴阳说，圆形构成和谐平衡的一个世界，上下两个圆点代表天地和阴阳两极…</div></div>
</div></div></div><div style="position: absolute; top: 1138px; left: 340px;" class="item col1 masonry-brick">
<div class="item_inner">
<div class="figure"><a href="http://www.logo607.com/fuwuxiangmu/pinpai_celue/33.html" target="_blank"><img src="images/1-140919203155C5.jpg" class="item_img"></a>
<div class="figcaption"><h3><a href="http://www.logo607.com/fuwuxiangmu/pinpai_celue/33.html" target="_blank"><span>标志设计/VI设计&nbsp;&nbsp;&nbsp;&nbsp;</span>九道</a></h3><div class="intro">河北九道食品科技集团是一家集食品生产、房地产、商业项目开发、广告传媒、现代农业开…</div></div>
</div></div></div><div style="position: absolute; top: 1246px; left: 0px;" class="item col1 masonry-brick">
<div class="item_inner">
<div class="figure"><a href="http://www.logo607.com/fuwuxiangmu/pinpai_celue/45.html" target="_blank"><img src="images/1-140919205H60-L.jpg" class="item_img"></a>
<div class="figcaption"><h3><a href="http://www.logo607.com/fuwuxiangmu/pinpai_celue/45.html" target="_blank"><span>品牌标志/VI设计&nbsp;&nbsp;&nbsp;&nbsp;</span>传灯传媒</a></h3><div class="intro">传灯传媒是一家专业动画创意公司，同时设有动画专业学校，作为新兴的行业，需要体现行…</div></div>
</div></div></div><div style="position: absolute; top: 1275px; left: 680px;" class="item col1 masonry-brick">
<div class="item_inner">
<div class="figure"><a href="http://www.logo607.com/fuwuxiangmu/pinpai_celue/47.html" target="_blank"><img src="images/1-140919215J60-L.jpg" class="item_img"></a>
<div class="figcaption"><h3><a href="http://www.logo607.com/fuwuxiangmu/pinpai_celue/47.html" target="_blank"><span>标志设计/VI设计&nbsp;&nbsp;&nbsp;&nbsp;</span>石家庄第二幼儿园</a></h3><div class="intro">石家庄市第二幼儿园创建于1948年，是石家庄建立的第一所国办幼儿园，以打造花园乐园家…</div></div>
</div></div></div><div style="position: absolute; top: 1540px; left: 340px;" class="item col1 masonry-brick">
<div class="item_inner">
<div class="figure"><a href="http://www.logo607.com/fuwuxiangmu/pinpai_celue/48.html" target="_blank"><img src="images/1-14092FT611E0.jpg" class="item_img"></a>
<div class="figcaption"><h3><a href="http://www.logo607.com/fuwuxiangmu/pinpai_celue/48.html" target="_blank"><span>标志设计/VI设计&nbsp;&nbsp;&nbsp;&nbsp;</span>澳兰进出口贸易</a></h3><div class="intro">河北澳兰进出口贸易有限公司，主要经营机械设备和配备件的自营和代理进出口业务、化工…</div></div>
</div></div></div><div style="position: absolute; top: 1684px; left: 0px;" class="item col1 masonry-brick">
<div class="item_inner">
<div class="figure"><a href="http://www.logo607.com/fuwuxiangmu/pinpai_celue/49.html" target="_blank"><img src="images/1-1409192159310-L.jpg" class="item_img"></a>
<div class="figcaption"><h3><a href="http://www.logo607.com/fuwuxiangmu/pinpai_celue/49.html" target="_blank"><span>标志设计/VI设计&nbsp;&nbsp;&nbsp;&nbsp;</span>九瓢粉条</a></h3><div class="intro">九瓢粉条本着绿色、天然、健康的理念，保留传统工艺的精华，经过多次曲折试验，终于研…</div></div>
</div></div></div><div style="position: absolute; top: 1746px; left: 680px;" class="item col1 masonry-brick">
<div class="item_inner">
<div class="figure"><a href="http://www.logo607.com/fuwuxiangmu/pinpai_celue/50.html" target="_blank"><img src="images/1-1409192200250-L.jpg" class="item_img"></a>
<div class="figcaption"><h3><a href="http://www.logo607.com/fuwuxiangmu/pinpai_celue/50.html" target="_blank"><span>标志设计/VI设计&nbsp;&nbsp;&nbsp;&nbsp;</span>澳德机械设备</a></h3><div class="intro">河北奥德机械有限公司是以德国技术为核心的机械制造公司，从事温度控制系统工程已有…</div></div>
</div></div></div>
                            
<nav style="display: none;" id="page-nav"><a href="http://www.logo607.com/fuwuxiangmu/pinpai_celue/list_14_2.html">下一页</a>
</nav>
<div style="opacity: 1; top: 2041px; position: absolute; left: 340px;" class="item col1 masonry-brick">
<div class="item_inner">
<div class="figure"><a href="http://www.logo607.com/fuwuxiangmu/pinpai_celue/51.html" target="_blank"><img src="images/1-1409192201310-L.jpg" class="item_img"></a>
<div class="figcaption"><h3><a href="http://www.logo607.com/fuwuxiangmu/pinpai_celue/51.html" target="_blank"><span>标志设计/VI设计&nbsp;&nbsp;&nbsp;&nbsp;</span>水木川传媒</a></h3><div class="intro">水木川传媒是专业影视制作、活动策划、媒体传播为一体的综合性传媒公司，汇集了策划、…</div></div>
</div></div></div><div style="opacity: 1; top: 2237px; position: absolute; left: 680px;" class="item col1 masonry-brick">
<div class="item_inner">
<div class="figure"><a href="http://www.logo607.com/fuwuxiangmu/pinpai_celue/52.html" target="_blank"><img style="opacity: 1;" src="images/1-14092G43513329.jpg" class="item_img"></a>
<div style="bottom: -60px;" class="figcaption"><h3><a href="http://www.logo607.com/fuwuxiangmu/pinpai_celue/52.html" target="_blank"><span>标志设计/VI设计&nbsp;&nbsp;&nbsp;&nbsp;</span>苏顺成绿豆饼</a></h3><div class="intro">苏顺成绿豆饼是上海五谷丰美食传播有限公司旗下的终端连锁品牌，专业制作经营特色绿豆…</div></div>
</div></div></div><div style="opacity: 1; top: 2308px; position: absolute; left: 0px;" class="item col1 masonry-brick">
<div class="item_inner">
<div class="figure"><a href="http://www.logo607.com/fuwuxiangmu/pinpai_celue/28.html" target="_blank"><img style="opacity: 1;" src="images/1-14091920431S30.jpg" class="item_img"></a>
<div style="bottom: -60px;" class="figcaption"><h3><a href="http://www.logo607.com/fuwuxiangmu/pinpai_celue/28.html" target="_blank"><span>标志/VI/包装/环境&nbsp;&nbsp;&nbsp;&nbsp;</span>金柴记</a></h3><div class="intro">柴沟堡熏肉始创于19世纪初，迄今有200多年历史，被载入《全国食品大字典》。据《怀安县…</div></div>
</div></div></div><div style="opacity: 1; top: 2411px; position: absolute; left: 340px;" class="item col1 masonry-brick">
<div class="item_inner">
<div class="figure"><a href="http://www.logo607.com/fuwuxiangmu/pinpai_celue/53.html" target="_blank"><img style="opacity: 1;" src="images/1-1409192203390-L.jpg" class="item_img"></a>
<div style="bottom: -60px;" class="figcaption"><h3><a href="http://www.logo607.com/fuwuxiangmu/pinpai_celue/53.html" target="_blank"><span>标志/VI/包装&nbsp;&nbsp;&nbsp;&nbsp;</span>缤纷太行</a></h3><div class="intro">山西招财鱼投资集团股份有限公司，旗下拥有万和油脂有限公司、华美超市有限公司、盛大…</div></div>
</div></div></div><div style="opacity: 1; top: 2727px; position: absolute; left: 680px;" class="item col1 masonry-brick">
<div class="item_inner">
<div class="figure"><a href="http://www.logo607.com/fuwuxiangmu/pinpai_celue/56.html" target="_blank"><img src="images/1-1409192206360-L.jpg" class="item_img"></a>
<div class="figcaption"><h3><a href="http://www.logo607.com/fuwuxiangmu/pinpai_celue/56.html" target="_blank"><span>标志设计&nbsp;&nbsp;&nbsp;&nbsp;</span>三利果然智食品</a></h3><div class="intro">河北三利有机食品股份有限公司，地处中国核桃之乡河北涉县。公司由有机核桃种植基地、…</div></div>
</div></div></div><div style="opacity: 1; top: 2781px; position: absolute; left: 0px;" class="item col1 masonry-brick">
<div class="item_inner">
<div class="figure"><a href="http://www.logo607.com/fuwuxiangmu/pinpai_celue/54.html" target="_blank"><img src="images/1-1409192204190-L.jpg" class="item_img"></a>
<div class="figcaption"><h3><a href="http://www.logo607.com/fuwuxiangmu/pinpai_celue/54.html" target="_blank"><span>标志/VI/包装&nbsp;&nbsp;&nbsp;&nbsp;</span>弘隆苹果</a></h3><div class="intro">河北邢台弘隆果品有限公司经营生产无公害绿色食品的开发销售，浆水苹果以细脆无渣，入…</div></div>
</div></div></div><div style="opacity: 1; top: 2916px; position: absolute; left: 340px;" class="item col1 masonry-brick">
<div class="item_inner">
<div class="figure"><a href="http://www.logo607.com/fuwuxiangmu/pinpai_celue/55.html" target="_blank"><img src="images/1-14092115112M55.jpg" class="item_img"></a>
<div class="figcaption"><h3><a href="http://www.logo607.com/fuwuxiangmu/pinpai_celue/55.html" target="_blank"><span>标志设计/VI设计&nbsp;&nbsp;&nbsp;&nbsp;</span>苹山苹果</a></h3><div class="intro">河北苹山农业开发有限公司，位于绿色生态的太行山上，开发经营天然、无公害绿色农产品…</div></div>
</div></div></div><div style="opacity: 1; top: 3185px; position: absolute; left: 680px;" class="item col1 masonry-brick">
<div class="item_inner">
<div class="figure"><a href="http://www.logo607.com/fuwuxiangmu/pinpai_celue/59.html" target="_blank"><img src="images/1-1409192210140-L.jpg" class="item_img"></a>
<div class="figcaption"><h3><a href="http://www.logo607.com/fuwuxiangmu/pinpai_celue/59.html" target="_blank"><span>标志设计/VI设计&nbsp;&nbsp;&nbsp;&nbsp;</span>Thai Tai</a></h3><div class="intro">Thai Tai是一家以新加坡食品供应商为基地的泰国餐厅，该标志图形内部轮廓以传统泰式服装…</div></div>
</div></div></div><div style="opacity: 1; top: 3306px; position: absolute; left: 0px;" class="item col1 masonry-brick">
<div class="item_inner">
<div class="figure"><a href="http://www.logo607.com/fuwuxiangmu/pinpai_celue/57.html" target="_blank"><img src="images/1-1409211512123N.jpg" class="item_img"></a>
<div class="figcaption"><h3><a href="http://www.logo607.com/fuwuxiangmu/pinpai_celue/57.html" target="_blank"><span>标志设计/VI设计&nbsp;&nbsp;&nbsp;&nbsp;</span>凌泰安康医疗咨询</a></h3><div class="intro">河北凌泰安康信息服务有限公司是一家专业从事健康管理和医疗行业信息化的新型软件服务…</div></div>
</div></div></div><div style="opacity: 1; top: 3430px; position: absolute; left: 340px;" class="item col1 masonry-brick">
<div class="item_inner">
<div class="figure"><a href="http://www.logo607.com/fuwuxiangmu/pinpai_celue/58.html" target="_blank"><img src="images/1-140919220R50-L.jpg" class="item_img"></a>
<div class="figcaption"><h3><a href="http://www.logo607.com/fuwuxiangmu/pinpai_celue/58.html" target="_blank"><span>标志设计/VI设计&nbsp;&nbsp;&nbsp;&nbsp;</span>金佰济</a></h3><div class="intro">金佰济是一家提供自助韩式烤肉服务的连锁餐饮企业，公司颠覆传统韩式烤肉和自助餐的运…</div></div>
</div></div></div><div style="opacity: 1; top: 3766px; position: absolute; left: 680px;" class="item col1 masonry-brick">
<div class="item_inner">
<div class="figure"><a href="http://www.logo607.com/fuwuxiangmu/pinpai_celue/62.html" target="_blank"><img src="images/1-1409192212460-L.jpg" class="item_img"></a>
<div class="figcaption"><h3><a href="http://www.logo607.com/fuwuxiangmu/pinpai_celue/62.html" target="_blank"><span>标志设计/VI设计&nbsp;&nbsp;&nbsp;&nbsp;</span>福博斯电地暖</a></h3><div class="intro">英国福博思电气设备有限公司是一家多元化经营的英国电气公司，主要经营电加热设备、配…</div></div>
</div></div></div><div style="opacity: 1; top: 3829px; position: absolute; left: 0px;" class="item col1 masonry-brick">
<div class="item_inner">
<div class="figure"><a href="http://www.logo607.com/fuwuxiangmu/pinpai_celue/60.html" target="_blank"><img src="images/1-1409192210530-L.jpg" class="item_img"></a>
<div class="figcaption"><h3><a href="http://www.logo607.com/fuwuxiangmu/pinpai_celue/60.html" target="_blank"><span>标志设计/VI设计&nbsp;&nbsp;&nbsp;&nbsp;</span>iBake</a></h3><div class="intro">Prima的新烘培分店给人一种充满活力与现代感的形象。标识中风格独特的麦粒形象转化成一…</div></div>
</div></div></div><div style="opacity: 1; top: 3986px; position: absolute; left: 340px;" class="item col1 masonry-brick">
<div class="item_inner">
<div class="figure"><a href="http://www.logo607.com/fuwuxiangmu/pinpai_celue/61.html" target="_blank"><img src="images/1-1409192212020-L.jpg" class="item_img"></a>
<div class="figcaption"><h3><a href="http://www.logo607.com/fuwuxiangmu/pinpai_celue/61.html" target="_blank"><span>品牌推广&nbsp;&nbsp;&nbsp;&nbsp;</span>七夕乞巧</a></h3><div class="intro">汉锦坊布艺有限公司，坐落于中国七夕爱情文化之乡的邢台市。旗下七夕乞巧品牌以中国六…</div></div>
</div></div></div><div style="opacity: 1; top: 4241px; position: absolute; left: 680px;" class="item col1 masonry-brick">
<div class="item_inner">
<div class="figure"><a href="http://www.logo607.com/fuwuxiangmu/pinpai_celue/26.html" target="_blank"><img src="images/1-140919204KQE.jpg" class="item_img"></a>
<div class="figcaption"><h3><a href="http://www.logo607.com/fuwuxiangmu/pinpai_celue/26.html" target="_blank"><span>标志/VI/包装/环境&nbsp;&nbsp;&nbsp;&nbsp;</span>Baker's oven</a></h3><div class="intro">Bakers oven是一个专注于甜点的烘培品牌。通过市场调查和完整的数据分析对品牌重新定位，…</div></div>
</div></div></div><div style="opacity: 1; top: 4419px; position: absolute; left: 340px;" class="item col1 masonry-brick">
<div class="item_inner">
<div class="figure"><a href="http://www.logo607.com/fuwuxiangmu/pinpai_celue/64.html" target="_blank"><img src="images/1-1409192214050-L.jpg" class="item_img"></a>
<div class="figcaption"><h3><a href="http://www.logo607.com/fuwuxiangmu/pinpai_celue/64.html" target="_blank"><span>标志设计/VI设计&nbsp;&nbsp;&nbsp;&nbsp;</span>金田科技</a></h3><div class="intro">金田农业科技发展有限公司是隶属于山西省农业厅农业产业化重点龙头企业，是一家专门从…</div></div>
</div></div></div><div style="display: none;" id="infscr-loading"><img alt="Loading..." src="images/loading.gif"><div><em>Loading the next set of posts...</em></div></div><div style="opacity: 1; top: 4509px; position: absolute; left: 0px;" class="item col1 masonry-brick">
<div class="item_inner">
<div class="figure"><a href="http://www.logo607.com/fuwuxiangmu/pinpai_celue/65.html" target="_blank"><img src="%images.jpg" class="item_img"></a>
<div class="figcaption"><h3><a href="http://www.logo607.com/fuwuxiangmu/pinpai_celue/65.html" target="_blank"><span>标志设计/VI设计&nbsp;&nbsp;&nbsp;&nbsp;</span>博奈得药业</a></h3><div class="intro">项目背景：博奈得是专门从事药品、医疗器械、医用辅料的专业国际贸易公司。公司与国内…</div></div>
</div></div></div><div style="opacity: 1; top: 4584px; position: absolute; left: 680px;" class="item col1 masonry-brick">
<div class="item_inner">
<div class="figure"><a href="http://www.logo607.com/fuwuxiangmu/pinpai_celue/63.html" target="_blank"><img src="images/1-1409192213220-L.jpg" class="item_img"></a>
<div class="figcaption"><h3><a href="http://www.logo607.com/fuwuxiangmu/pinpai_celue/63.html" target="_blank"><span>标志设计/VI设计&nbsp;&nbsp;&nbsp;&nbsp;</span>荷立药业</a></h3><div class="intro">河北荷立药业是一家中荷合资的国际化公司，以原料药、制剂及医药中间体为核心。客户希…</div></div>
</div></div></div><div style="opacity: 1; top: 4935px; position: absolute; left: 0px;" class="item col1 masonry-brick">
<div class="item_inner">
<div class="figure"><a href="http://www.logo607.com/fuwuxiangmu/pinpai_celue/67.html" target="_blank"><img src="images/1-140919221A70-L.jpg" class="item_img"></a>
<div class="figcaption"><h3><a href="http://www.logo607.com/fuwuxiangmu/pinpai_celue/67.html" target="_blank"><span>标志设计/VI设计&nbsp;&nbsp;&nbsp;&nbsp;</span>Thanhson</a></h3><div class="intro">Thanhson全新的企业形象设计采用象征性小麦作为图形,在越南目标受众产生了强烈的共鸣。在…</div></div>
</div></div></div><div style="opacity: 1; top: 5026px; position: absolute; left: 340px;" class="item col1 masonry-brick">
<div class="item_inner">
<div class="figure"><a href="http://www.logo607.com/fuwuxiangmu/pinpai_celue/66.html" target="_blank"><img src="images/1-1409192216070-L.jpg" class="item_img"></a>
<div class="figcaption"><h3><a href="http://www.logo607.com/fuwuxiangmu/pinpai_celue/66.html" target="_blank"><span>标志/VI/环境&nbsp;&nbsp;&nbsp;&nbsp;</span>Moly café</a></h3><div class="intro">Moly caf专门针对年轻消费者的咖啡品牌。品牌形象以活泼可爱，青春健康的品牌调性，传递…</div></div>
</div></div></div><div style="opacity: 1; top: 5066px; position: absolute; left: 680px;" class="item col1 masonry-brick">
<div class="item_inner">
<div class="figure"><a href="http://www.logo607.com/fuwuxiangmu/pinpai_celue/68.html" target="_blank"><img src="images/1-140919221J80-L.jpg" class="item_img"></a>
<div class="figcaption"><h3><a href="http://www.logo607.com/fuwuxiangmu/pinpai_celue/68.html" target="_blank"><span>标志/VI/包装&nbsp;&nbsp;&nbsp;&nbsp;</span>恒生药业</a></h3><div class="intro">许昌恒生制药有限公司公司是一家集固体制剂、医药原料药及中间体等医药产品开发、生产…</div></div>
</div></div></div><div style="opacity: 1; top: 5366px; position: absolute; left: 0px;" class="item col1 masonry-brick">
<div class="item_inner">
<div class="figure"><a href="http://www.logo607.com/fuwuxiangmu/pinpai_celue/69.html" target="_blank"><img src="images/1-140919221R90-L.jpg" class="item_img"></a>
<div class="figcaption"><h3><a href="http://www.logo607.com/fuwuxiangmu/pinpai_celue/69.html" target="_blank"><span>标志设计/VI设计&nbsp;&nbsp;&nbsp;&nbsp;</span>爱尚购物车</a></h3><div class="intro">在该品牌的命名中，爱尚购物车让合作双方眼前的一亮，这个充满活力的名字成为该品牌名…</div></div>
</div></div></div><div style="opacity: 1; top: 5447px; position: absolute; left: 680px;" class="item col1 masonry-brick">
<div class="item_inner">
<div class="figure"><a href="http://www.logo607.com/fuwuxiangmu/pinpai_celue/70.html" target="_blank"><img src="images/1-140919221U60-L.jpg" class="item_img"></a>
<div class="figcaption"><h3><a href="http://www.logo607.com/fuwuxiangmu/pinpai_celue/70.html" target="_blank"><span>标志/VI/包装&nbsp;&nbsp;&nbsp;&nbsp;</span>金地药业</a></h3><div class="intro">禹州市金地药业股份有限公司，始建于1956年，是历史上长期从事专项中药饮片炮制的企业…</div></div>
</div></div></div><div style="opacity: 1; top: 5595px; position: absolute; left: 340px;" class="item col1 masonry-brick">
<div class="item_inner">
<div class="figure"><a href="http://www.logo607.com/fuwuxiangmu/pinpai_celue/10.html" target="_blank"><img src="images/1-140919205052591.jpg" class="item_img"></a>
<div class="figcaption"><h3><a href="http://www.logo607.com/fuwuxiangmu/pinpai_celue/10.html" target="_blank"><span>标志设计/VI设计&nbsp;&nbsp;&nbsp;&nbsp;</span>优斯</a></h3><div class="intro">青岛优斯服饰是在意大利注册的一个高端运动服饰品牌，主要面向热爱运动、充满活力的时…</div></div>
</div></div></div><div style="opacity: 1; top: 5762px; position: absolute; left: 0px;" class="item col1 masonry-brick">
<div class="item_inner">
<div class="figure"><a href="http://www.logo607.com/fuwuxiangmu/pinpai_celue/71.html" target="_blank"><img src="images/1-140922095301J9.jpg" class="item_img"></a>
<div class="figcaption"><h3><a href="http://www.logo607.com/fuwuxiangmu/pinpai_celue/71.html" target="_blank"><span>标志/VI/包装&nbsp;&nbsp;&nbsp;&nbsp;</span>多可良品干果</a></h3><div class="intro">康百利食品是以生产销售休闲干果为主的企业，但是没有自己独立的品牌，2009年，康百利…</div></div>
</div></div></div><div style="opacity: 1; top: 5961px; position: absolute; left: 680px;" class="item col1 masonry-brick">
<div class="item_inner">
<div class="figure"><a href="http://www.logo607.com/fuwuxiangmu/pinpai_celue/72.html" target="_blank"><img src="images/1-1409192221070-L.jpg" class="item_img"></a>
<div class="figcaption"><h3><a href="http://www.logo607.com/fuwuxiangmu/pinpai_celue/72.html" target="_blank"><span>标志设计/VI设计&nbsp;&nbsp;&nbsp;&nbsp;</span>Firewoks 火锅店</a></h3><div class="intro">Firewoks品牌的设计旨在突出明快、清新、充满活力的特质。主要由炒锅，射线和独特的标识…</div></div>
</div></div></div><div style="opacity: 1; top: 6067px; position: absolute; left: 340px;" class="item col1 masonry-brick">
<div class="item_inner">
<div class="figure"><a href="http://www.logo607.com/fuwuxiangmu/pinpai_celue/73.html" target="_blank"><img src="images/1-1409192222030-L.jpg" class="item_img"></a>
<div class="figcaption"><h3><a href="http://www.logo607.com/fuwuxiangmu/pinpai_celue/73.html" target="_blank"><span>标志/VI/广告语/包装&nbsp;&nbsp;&nbsp;&nbsp;</span>秋道</a></h3><div class="intro">秋道是东海果浦推出的高端农产品品牌，品牌倡导健康养生、回归自然的生活理念。 品牌…</div></div>
</div></div></div><div style="opacity: 1; top: 6197px; position: absolute; left: 0px;" class="item col1 masonry-brick">
<div class="item_inner">
<div class="figure"><a href="http://www.logo607.com/fuwuxiangmu/pinpai_celue/74.html" target="_blank"><img src="images/1-1409192222370-L.jpg" class="item_img"></a>
<div class="figcaption"><h3><a href="http://www.logo607.com/fuwuxiangmu/pinpai_celue/74.html" target="_blank"><span>标志设计/包装设计&nbsp;&nbsp;&nbsp;&nbsp;</span>SOOKO</a></h3><div class="intro">SOOKO总部设在闻名世界的汽车城德国斯图加特市，SOOKO原是德国著名的汽车配件生产商及供…</div></div>
</div></div></div><div style="opacity: 1; top: 6443px; position: absolute; left: 680px;" class="item col1 masonry-brick">
<div class="item_inner">
<div class="figure"><a href="http://www.logo607.com/fuwuxiangmu/pinpai_celue/75.html" target="_blank"><img src="images/1-1409192223400-L.jpg" class="item_img"></a>
<div class="figcaption"><h3><a href="http://www.logo607.com/fuwuxiangmu/pinpai_celue/75.html" target="_blank"><span>标志/VI/包装/环境&nbsp;&nbsp;&nbsp;&nbsp;</span>香特莉食品</a></h3><div class="intro">湖北香特莉食品公司位于荆州市，江汉平原腹地，历史上曾为楚国故都，是湖北省五大区域…</div></div>
</div></div></div><div style="opacity: 1; top: 6554px; position: absolute; left: 340px;" class="item col1 masonry-brick">
<div class="item_inner">
<div class="figure"><a href="http://www.logo607.com/fuwuxiangmu/pinpai_celue/76.html" target="_blank"><img src="images/1-1409192225160-L.jpg" class="item_img"></a>
<div class="figcaption"><h3><a href="http://www.logo607.com/fuwuxiangmu/pinpai_celue/76.html" target="_blank"><span>标志/VI/包装/环境&nbsp;&nbsp;&nbsp;&nbsp;</span>涟漪SPA会馆</a></h3><div class="intro">上海涟漪spa养生会所，涵盖美容、美发、纤体、香薰、水疗、美甲、瑜伽等疗程和护理，是…</div></div>
</div></div></div><div style="opacity: 1; top: 6672px; position: absolute; left: 0px;" class="item col1 masonry-brick">
<div class="item_inner">
<div class="figure"><a href="http://www.logo607.com/fuwuxiangmu/pinpai_celue/77.html" target="_blank"><img src="images/1-1409192225450-L.jpg" class="item_img"></a>
<div class="figcaption"><h3><a href="http://www.logo607.com/fuwuxiangmu/pinpai_celue/77.html" target="_blank"><span>标志/VI/包装&nbsp;&nbsp;&nbsp;&nbsp;</span>海格里斯货架</a></h3><div class="intro">海格里斯是河北石沃克金属制品有限公司下属品牌，创建于1993年，是国内较早从事商场及…</div></div>
</div></div></div></div>

</div>
</div>
<script>
    $(function () {

        var $container = $('#life');

        $container.imagesLoaded(function () {
            $container.masonry({
                itemSelector: '.item',
                columnWidth: 320,
                gutterWidth: 20,
                isFitWidth: true,
                isAnimated: true,
                animationOptions: {
                    duration: 500,
                    easing: 'swing',
                    queue: true
                }
            }).fadeIn(2000);
        });

        $container.infinitescroll({
                navSelector: '#page-nav',    // selector for the paged navigation
                nextSelector: '#page-nav a',  // selector for the NEXT link (to page 2)
                itemSelector: '.item',     // selector for all items you'll retrieve
                loading: {
                    finishedMsg: '加载中...',
                    img: '/templets/huaqing/images/loading.gif'
                }
            },
            // trigger Masonry as a callback
            function (newElements) {
                // hide new items while they are loading
                var $newElems = $(newElements).css({ opacity: 0 });
                // ensure that images load before adding to masonry layout
                $newElems.imagesLoaded(function () {
                    // show elems now they're ready
                    $newElems.animate({ opacity: 1 });
                    $container.masonry('appended', $newElems, true).fadeIn();

                    $('#life .item_inner').mouseenter(function () {
                        $(this).find('.item_img').css("opacity", 0.65);
                        $(this).find('.figcaption').animate({"bottom": "0"}, {easing: "easeInSine", duration: 400});
                    }).mouseleave(function () {
                            $(this).find('.item_img').css("opacity", 1);
                            $(this).find('.figcaption').animate({"bottom": "-60"}, {easing: "easeOutSine", duration: 600});
                        });
                });
            }
        );


        $('#life .item_inner').mouseenter(function () {
            $(this).find('.item_img').css("opacity", 0.65);
            $(this).find('.figcaption').animate({"bottom": "0"}, {easing: "easeInSine", duration: 400});
        }).mouseleave(function () {
                $(this).find('.item_img').css("opacity", 1);
                $(this).find('.figcaption').animate({"bottom": "-60"}, {easing: "easeOutSine", duration: 600});
            });
    });
</script>
</div>
</div>
﻿<div class="g_footer">
<div id="ic_footer">
<div class="w1000">
<div class="mod_buy">
<h2>关于华清</h2>
<ul>

<li><a href="http://www.logo607.com/guanyuhuaqing/liaojiehuaqing/">了解华清</a></li>

<li><a href="http://www.logo607.com/guanyuhuaqing/huaqingjingshen/">华清精神</a></li>

<li><a href="http://www.logo607.com/guanyuhuaqing/rongyujiangxiang/">荣誉奖项</a></li>

<li><a href="http://www.logo607.com/guanyuhuaqing/shejiguwen/">设计顾问</a></li>

<li><a href="http://www.logo607.com/guanyuhuaqing/huaqingwenhua/">华清文化</a></li>

<li><a href="http://www.logo607.com/guanyuhuaqing/shehuizeren/">社会责任</a></li>

</ul>
</div>
<div class="mod_buy">
<h2>服务项目</h2>
<ul>

<li><a href="http://www.logo607.com/fuwuxiangmu/pinpai_celue/">品牌+策略</a></li>

<li><a href="http://www.logo607.com/fuwuxiangmu/chanpin_baozhuang/">产品+包装</a></li>

<li><a href="http://www.logo607.com/fuwuxiangmu/kongjian_daoshi/">空间+导视</a></li>

<li><a href="http://www.logo607.com/fuwuxiangmu/guanggao_chuanbo/">广告+传播</a></li>

</ul>
</div>
<div class="mod_buy">
<h2>新闻动态</h2>
<ul>

<li><a href="http://www.logo607.com/xinwendongtai/zuixindongtai/">最新动态</a></li>

<li><a href="http://www.logo607.com/xinwendongtai/xingyedongtai/">行业动态</a></li>

<li><a href="http://www.logo607.com/xinwendongtai/huaqingguandian/">华清观点</a></li>

</ul>
</div>
<div class="mod_buy">
<h2>联络</h2>
<ul>
<li><a href="http://www.logo607.com/lianluo/lxdz/">联系地址</a></li>
<li><a href="http://www.logo607.com/lianluo/jiaruwomen/">加入我们</a></li>
<li><a href="http://www.logo607.com/lianluo/geiwomenliuyan/">给我留言</a></li>
</ul>
</div>
<div class="mod_share fr">
<div class="mod_h"><img src="images/erweima.jpg"></div>
<div class="c"><img src="images/tel.jpg"></div>
</div>
</div>
</div>
<div class="gfc">
<div class="w1000"><span class="copyright"><script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1253376146'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s4.cnzz.com/stat.php%3Fid%3D1253376146%26show%3Dpic' type='text/javascript'%3E%3C/script%3E"));</script><span id="cnzz_stat_icon_1253376146"><a href="http://www.cnzz.com/stat/website.php?web_id=1253376146" target="_blank" title="站长统计"><img src="images/pic.gif" hspace="0" border="0" vspace="0"></a></span><script src="images/stat.php" type="text/javascript"></script><script src="images/core.php" charset="utf-8" type="text/javascript"></script> 本网站内所有图文内容，均归华清设计公司版权所有。<a href="http://www.miibeian.gov.cn/" target="_blank"><script type="text/javascript">
host = window.location.host;
if(host=="www.lihuaqing.com" || host=="lihuaqing.com")
{
document.write("京ICP备12013809号");
}
else
{
document.write("冀ICP备06002617号");
}
</script>冀ICP备06002617号
</a> <script src="js/h.js" type="text/javascript"></script></span></div>
</div>
</div>

